.dropdown {
    display: none;
}

.dropdownList{
    color: black;
    background-color: rgb(255, 247, 178);
    font-size: 44px;
}


.mug2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}


@media screen and (max-width: 1000px){
    .dropdown{
        display: inline-block;
    }
    .navItems{
        display: none;
    }
    .nav{
        padding: 10px;
    }
}