.loginHeader,
.signupHeader{
    font-family: 'Rouge Script', sans-serif;
    font-size: 118px;
    color: rgb(60, 11, 69);
    text-align: center;
}

.loginContainer,
.signupContainer{
    text-align: center;
    border: 3px solid rgb(60, 11, 69);
    height: fit-content;
    width: 500px;
    margin: 0 auto;
    border-radius: 25px;
}

.loginButton{
    margin: 0 auto;
    margin-bottom: 20px;
    padding: 10px;
    width: 280px;
    font-size: 35px;
    background: white;
}

.loginInputs{
    border: 2px solid rgb(60, 11, 69);
}

.homeSpan{
    cursor:pointer;
}