.dropdown {
    display: none;
}

.mug2{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
}


@media screen and (max-width: 750px){
    .dropdown{
        display: inline-block;
    }
    .navItems{
        display: none;
    }
    .nav{
        padding: 10px;
    }
}