.teaForm{
    height: fit-content;
    border: 3px solid rgb(60, 11, 69);
    border-radius: 15px;
    width: 700px;
    margin: 0 auto;
    font-family: 'Source Sans Pro';
    padding: 20px;
    background: white;
}

.teaType{
    height: 250px;
    width: 700px;
    font-size: 34px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: left;
    margin-left: 30px;
    row-gap: 20px;
}

.teaQuestion{
    margin-bottom: 20px;
    font-size: 44px;
}

input{
    margin-bottom: 20px;
    cursor: pointer;
}

span{
    font-size: 34px;
}


.teaQuizButton{
    font-size: 30px;
    margin: 0 auto;
    padding: 5px 10px;
    width: 200px;
}

